#view {
    font-size: small;
    position: absolute;
    left: 500px;

}

.calibration-view {
    background-color: skyblue;
}

.button-container { 
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
    justify-content: space-between;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.fullscreen-button {
    font-size: larger;
    background-color: brown;
    height: 100vh;
    width: 100vw;
}

.main-calibration-view {
    z-index: 2;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: skyblue; */
}

#selection-button {
    display: flex;
    text-align: center;
    justify-content: center;
}

.loading-screen {
    z-index: 3;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(59, 70, 174, 0.341);
}