h1 {
    visibility: hidden;
    position: absolute;
    left: 500px;
    margin-top: 0%;
}

#fullscreen-button {
    position: fixed;
    /* text-shadow: 2px 2px 2px black; */
    /* background-color: rgba(12, 17, 17, 0.345); */
    top: 0%;
    width: 20%;
    left: 40%;
    z-index: 1;
    display: grid;
}

.controls-container{
    position: fixed;
    right: 0%;
    z-index: 1;
}
