h1 {
    visibility: hidden;
    position: absolute;
    left: 500px;
    margin-top: 0%;
}

.fullscreen-buttons {
    position: fixed;
    background-color: rgba(135, 235, 212, 0.499);
    color:blue;
    top: 0%;
    width: 15%;
    left: 42.5%;
    z-index: 1;
    display: grid;
    grid: 1fr 1fr; 
    justify-content: center; }
   



.fs-button {
    position: fixed;
    background-color: rgba(74, 238, 216, 0.564);
    top: 0%;
    margin-top: -.25em;
    width: 10%;
    left: 45%;
    z-index: 1;
    display: grid;
    grid: 1fr 1fr;
    /* text-shadow: 1px 1px 1.5px rgb(0, 0, 0); */
}

.controls-container {
    background-color: rgb(135, 235, 212);
    /* position: relative; */
    display: flex;
    margin-left: auto;
    flex-direction: column;
    max-width: 250px;
    border-bottom-left-radius: 4px;
    padding: .5em;
    font-size: calc(5px + 2vmin);
    color: black;
    position: fixed;
    right: 0%;
    z-index: 1;
  }


#filter-slider {
    position: relative;
    /* width: 150; */
    /* right: 10%; */
    margin-left: 10%;
    margin-right: 10%;
    /* display: flex; */
    align-items: center;
}

.tips-container {
    /* background-color: rgb(135, 235, 212); */
    /* position: relative; */
    display: flex;
    margin-left: auto;
    flex-direction: column;
    max-width: 250px;
    padding: .25em;
    font-size: calc(5px + 2vmin);
    color: black;
    position: fixed;
    left: 0%;
    z-index: 1;
  }

  .popup {
    background-color: rgb(135, 235, 212);
    border-radius: 0%;
    /* position: relative; */
    /* display: flex;
    margin-left: auto;
    flex-direction: column;
    max-width: 250px;
    padding: .25em;
    font-size: calc(5px + 2vmin);
    color: black;
    position: fixed; */
    z-index: 1;
  }